<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>

	<system.serviceModel>
		<services>

			<service name="MessageBroker.Service.Services.PublisherService"
					 behaviorConfiguration="PublisherBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:7001/publisher" />
					</baseAddresses>
				</host>

				<endpoint
				  address="PublisherService"
				  binding="wsHttpBinding"
				  contract="MessageBroker.Common.Interfaces.IPublisher" />

				<endpoint
				  address="mex"
				  binding="mexHttpBinding"
				  contract="IMetadataExchange" />
			</service>

			<service name="MessageBroker.Service.Services.SubscriberService"
					 behaviorConfiguration="SubscriberBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:7002/subscriber" />
					</baseAddresses>
				</host>

				<endpoint
				  address="SubscriberService"
				  binding="wsHttpBinding"
				  contract="MessageBroker.Common.Interfaces.ISubscriber" />

				<endpoint
				  address="mex"
				  binding="mexHttpBinding"
				  contract="IMetadataExchange" />
			</service>

			<service name="MessageBroker.Service.Services.TopicService"
					 behaviorConfiguration="TopicBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:7003/topic" />
					</baseAddresses>
				</host>

				<endpoint
				  address="TopicService"
				  binding="wsHttpBinding"
				  contract="MessageBroker.Common.Interfaces.ITopic" />

				<endpoint
				  address="mex"
				  binding="mexHttpBinding"
				  contract="IMetadataExchange" />
			</service>

		</services>

		<behaviors>
			<serviceBehaviors>

				<behavior name="PublisherBehavior">
					<serviceMetadata httpGetEnabled ="true" />
				</behavior>

				<behavior name="SubscriberBehavior">
					<serviceMetadata httpGetEnabled ="true" />
				</behavior>

				<behavior name="TopicBehavior">
					<serviceMetadata httpGetEnabled ="true" />
				</behavior>

			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>

</configuration>
