<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<system.serviceModel>
		
		<bindings>
			<wsHttpBinding>
			<binding name="WSHttpBinding_IPublisher" />
			<binding name="WSHttpBinding_ISubscriber" />
			</wsHttpBinding>
		</bindings>
		
		<client>
			<endpoint address="http://localhost:7001/publisher/PublisherService"
				binding="wsHttpBinding" 
				bindingConfiguration="WSHttpBinding_IPublisher"
				contract="ServiceReference1.IPublisher" 
				name="WSHttpBinding_IPublisher">
			</endpoint>
			
			<endpoint address="http://localhost:7002/subscriber/SubscriberService"
				binding="wsHttpBinding" 
				bindingConfiguration="WSHttpBinding_ISubscriber"
				contract="ServiceReference2.ISubscriber" 
				name="WSHttpBinding_ISubscriber">
			</endpoint>
		</client>
		
	</system.serviceModel>
	
</configuration>