<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<system.serviceModel>

		<bindings>
		   <netNamedPipeBinding>
			   <binding name="NetNamedPipeBinding_ITopic"
						 maxReceivedMessageSize="8192"
			 sendTimeout="00:00:10"
			 receiveTimeout="00:00:10"
			 openTimeout="00:00:10"
			 closeTimeout="00:00:10"
						>
				   <readerQuotas maxStringContentLength="8192"
					 maxDepth="32"/>
			   </binding>
		   </netNamedPipeBinding>
			
		   <netTcpBinding>
			   <binding name="NetTcpBinding_ISubscriber"
						 maxReceivedMessageSize="8192"
			 sendTimeout="00:00:10"
			 receiveTimeout="00:00:10"
			 openTimeout="00:00:10"
			 closeTimeout="00:00:10">

				   <reliableSession ordered="true"
						 enabled="true"
						 inactivityTimeout="00:01:00"/>

				   <readerQuotas maxStringContentLength="8192"
								maxDepth="32"/>
			   </binding>
					
			</netTcpBinding>

			<wsHttpBinding>
				<binding name="WSHttpBinding_IPublisher"
						 maxReceivedMessageSize="8192"
			 sendTimeout="00:00:10"
			 receiveTimeout="00:00:10"
			 openTimeout="00:00:10"
			 closeTimeout="00:00:10">
					<reliableSession ordered="true"
						 enabled="true"
						 inactivityTimeout="00:01:00"/>

					<readerQuotas maxStringContentLength="8192"
								 maxDepth="32"/>
				</binding>
			</wsHttpBinding>
  
		</bindings>

		<client>
   
		   <endpoint address="net.tcp://localhost:7002/subscriber/SubscriberService"
			binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISubscriber"
			contract="ISubscriber" name="NetTcpBinding_ISubscriber" />
			
		   <endpoint address="net.pipe://localhost/topic/TopicService" binding="netNamedPipeBinding"
			bindingConfiguration="NetNamedPipeBinding_ITopic" contract="ITopic"
			name="NetNamedPipeBinding_ITopic" />

			<endpoint address="http://localhost:7001/publisher/PublisherService"
			   binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPublisher"
			   contract="IPublisher" name="WSHttpBinding_IPublisher"/>
  </client>
		
	</system.serviceModel>
	
</configuration>