<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="System.ServiceModel"
					switchValue="Information, ActivityTracing"
					propagateActivity="true">
				<listeners>
					<add name="traceListenet"
						 type="System.Diagnostics.XmlWriterTraceListener"
						 initializeData="WcfTrace.svclog"/>
				</listeners>
			</source>

			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="messages"
						 type="System.Diagnostics.XmlWriterTraceListener"
						 initializeData="Messages.svclog"/>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>

	<system.serviceModel>
		<diagnostics>
			<messageLogging
				logEntireMessage="true"
				logMessagesAtServiceLevel="true"
				logMessagesAtTransportLevel="true"/>
		</diagnostics>

		<services>

			<service name="MessageBroker.Service.Services.PublisherService" behaviorConfiguration="enabled">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:7001/publisher" />
					</baseAddresses>
				</host>

				<endpoint
					address="PublisherService"
					binding="wsHttpBinding"
					bindingConfiguration="wsBinding"
					contract="MessageBroker.Common.Interfaces.IPublisher" />

				<endpoint
					address="mex"
					binding="mexHttpBinding"
					contract="IMetadataExchange" />
			</service>

			<service name="MessageBroker.Service.Services.SubscriberService" behaviorConfiguration="disabled">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:7002/subscriber" />
					</baseAddresses>
				</host>

				<endpoint
					address="SubscriberService"
					binding="netTcpBinding"
					bindingConfiguration="tcpBinding"
					contract="MessageBroker.Common.Interfaces.ISubscriber" />

				<endpoint
					address="mex"
					binding="mexTcpBinding"
					contract="IMetadataExchange" />
			</service>

			<service name="MessageBroker.Service.Services.TopicService" behaviorConfiguration="disabled">
				<host>
					<baseAddresses>
						<add baseAddress="net.pipe://localhost/topic" />
					</baseAddresses>
				</host>

				<endpoint
					address="TopicService"
					binding="netNamedPipeBinding"
					bindingConfiguration="netPipeBinding"
					contract="MessageBroker.Common.Interfaces.ITopic" />

				<endpoint
					address="mex"
					binding="mexNamedPipeBinding"
					contract="IMetadataExchange" />

			</service>

		</services>

		<bindings>

			<wsHttpBinding>
				<binding name="wsBinding"
						 maxReceivedMessageSize="8192"
						 sendTimeout="00:00:10"
						 receiveTimeout="00:00:10"
						 openTimeout="00:00:10"
						 closeTimeout="00:00:10">

					<reliableSession ordered="true"
									 enabled="true"
									 inactivityTimeout="00:01:00"/>

					<readerQuotas maxStringContentLength="8192"
								 maxDepth="32"/>
				</binding>
			</wsHttpBinding>

			<netNamedPipeBinding>
				<binding name="netPipeBinding"
						 maxReceivedMessageSize="8192"
						 sendTimeout="00:00:10"
						 receiveTimeout="00:00:10"
						 openTimeout="00:00:10"
						 closeTimeout="00:00:10">

					<readerQuotas maxStringContentLength="8192"
								 maxDepth="32"/>

				</binding>
			</netNamedPipeBinding>

			<netTcpBinding>
				<binding name="tcpBinding"
						 maxReceivedMessageSize="8192"
						 sendTimeout="00:00:10"
						 receiveTimeout="00:00:10"
						 openTimeout="00:00:10"
						 closeTimeout="00:00:10">

					<reliableSession ordered="true"
									 enabled="true"
									 inactivityTimeout="00:01:00"/>

					<readerQuotas maxStringContentLength="8192"
								 maxDepth="32"/>
				</binding>
			</netTcpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>

				<behavior name="enabled">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>

				<behavior name="disabled">
					<serviceMetadata httpGetEnabled="false"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>

			</serviceBehaviors>
		</behaviors>


	</system.serviceModel>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.0.1" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>

		</assemblyBinding>
	</runtime>

</configuration>