<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ITopic" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/topic/TopicService" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_ITopic" contract="ITopic"
                name="NetNamedPipeBinding_ITopic">
                <identity>
                    <userPrincipalName value="AzureAD\VladislavLisii" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>